<div class="show_layout">
<h3>First Name: </h3><p> <%= @order.first_name %></p>
<h3>Last Name: </h3><p><%= @order.last_name %></p>
<h3>Topping: </h3><p><%= @order.topping %></p>
<h3>Quantity:</h3><p> <%= @order.quantity %></p>

<a href="/pizza-orders/<%= @order.id %>/update" method="get">Update Order</a>

<form action="/pizza-orders/<%= @order.id %>/delete" method="post">
  <input class="delete" type="submit" value="Cancel Order"/>
</form>
</div>
